@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Urbanist", sans-serif;
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh
}

.card {
    background: #fff;
    box-shadow: 0px 2px 15px #000;
    border-radius: 15px;
}

.card:hover{
    transform: scale(1.1);
    transition: 0.5s ease-in-out;
    transition:cubic-bezier(0.6, 0.04, 0.98, 0.335);
   
}

.mediaCard {
    background: url("https://cdn.ome.lt/MIg30XOGOq202eAsBBC2dHS8Lfw=/1200x630/smart/extras/conteudos/cowboy-bebop.jpg") center/cover;
    height: 200px;
    width: 100%;
    object-fit: cover;
}

.topCard {
    padding: 10px;
    padding-top: 0px;
}

.bottomCard {
    padding: 10px;
    width: 350px;
}

button.actions {
    background: none;
    border: none;
    padding-top: 10px;
    color: rgb(0, 100, 0);
}

p.bottomText {
    padding-top: 0px;
    margin: 5px;
}

