@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0; /* making a default standard of these styles to avoid inconsistences in different navigators*/
    padding: 0;
    box-sizing: border-box;
    font-family: 'Urbanist', sans-serif;
}

body {
    display: flex;
    flex-direction: column; /* there is a container with the two cards so if it was added another element it would be on column and on the center */
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding-top: 60px; /* space for fixed title "h1" */
}

h1 {
    position: fixed; /* fixed title on the superior part */
    top: 15px; /* vertical space between the top of the page and the text */
    text-align: center;
    width: 100%;
    z-index: 1; /* making sure that title be on top of cards */
    color: #b52727
}
a {
  text-decoration: none;
}

.card-container {
  display: flex;
  gap: 90px; /* space between cards */
  justify-content: center; /* center cards on container */
  margin-top: 40px; /* space to separate container of title */
}

.card  {
    display: flex;
    flex-direction: column;
    width: 350px;
    background-color: #00000000;
    border-radius: 22px;
    box-shadow: -0px 6px 16px 2px rgb(46 43 55);
    transition: height 0.5s, box-shadow 0.5s;
    overflow: hidden; /* making the extra content not surpass the limits of the card */
    height: 320px; /* initial height of the card */
}

.card:hover {
    height: 400px; /* height with the mouse cursor on */
    box-shadow: 0px 45px 100px rgba(0, 0, 0, 0.3);
}

.card .img-box {
    position: relative;
    width: 100%;
    height: 150px; /* initial height of the image */
    overflow: hidden; /* for the extra image not surpass the limits of img-box */
    transition: height 0.5s;
}

.card:hover .img-box {
    height: 230px; /* image height w/cursor on */
}

.card .img-box img {
    width: 100%; /* these will fill the width and height on the card */
    height: 100%;
    object-fit: cover; /* to adjust the image on the card */
    border-top-left-radius: 20px; 
    border-top-right-radius: 20px; /* these will make sure that only top and left border get the effect */
}

.card .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 10px 20px 40px;
    text-align: center;
    transition: transform 0.5s; /* try change to see the magic */
    transform: translateY(0);
    background-color: #000000;
    color: #d93745;
}

/* media query for mobile devices */
@media (max-width: 768px) {
  .card-container {
      flex-direction: column; /* cards on vertical for smaller screens */
      align-items: center;
      padding-bottom: 20px;
  }
}

.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2024-6-21 13:12:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    } 
   }